  body {
    background: #fafafa;
    font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #444;
  }

  #header-title {
    font-size: 140%;
    display: table;
    margin: 0 auto;
    color: #213f7d;
  }

  #logo {
    background: transparent url('http://dam.cloud.nuxeo.com/nuxeo/img/nuxeo_dam_logo.png') no-repeat;
    background-size: cover;
    display: inline-block;
    height: 20px;
    width: 186px;
    ;
  }

  paper-toolbar {
    --paper-toolbar-background: #ffffff;
  }
